@media screen and (max-width:1250px){
  /* index page style */
  #main-section .landing-img .slogan-txt p{font-size:20px;}
  header{width:25%;}
  #main-section{width:75%;}
  header .profile-img{width:100px; height:100px;}
  header .profile-txt{margin:20px 0;}
  header .navi li a{font-size:12px; _margin:10px 0;}
  header .sns a{font-size:16px; margin:0 10px;}
  header .sns{margin:30px 0;}
  header .login-info a{padding:5px 20px; font-size:12px;}

  #member-info{width:75%;}
  #member-info .input-field{width:60%;}
  #member-info .profile-field{width:30%;}
  /* #member-info .center{width:100%;} */
}

@media screen and (max-width:1050px){
  #main-section{width:100%;}
  header{left:-100%; width:35%;}
  .mobile-menu{display:flex;}
  #member-info{width:100%;}

  #community{width:100%; float:none;}
  #community .board_list, #community .board_insert{width:80%;}
  #community .center{padding:30px 0;}

  #community .update_form{width:80%;}
  #community .insert_btn{width:80%;}
}

@media screen and (max-width:780px){
  
}

@media screen and (max-width:700px){

  #main-section .landing-img .slogan-txt{text-align: center;}
  #main-section .landing-img .slogan-txt h2{font-size:28px;}
  #main-section .landing-img .slogan-txt p{font-size:16px;}

  .mobile-menu{left:20px; top:20px;}
  .mobile-menu i.fa{font-size:22px;}
  header{width:50%;}

  #community .board_list, #community .board_insert{width:90%;}
  #community .board_insert label{font-size:12px;}
  #community .board_insert input{font-size:12px;}
  #community .board_insert input::placeholder{font-size:12px;}
  #community .board_insert textarea{font-size:12px;}

  #community .update_form{width:90%;}

  #community .update_form{width:90%;}
  #community .insert_btn{justify-content: center; width:90%;}
}

@media screen and (max-width:500px){
  header{width:80%;}
  #community .board_list, #community .board_insert{width:95%;}
  #community .board_list li span:nth-child(3){width:50%;}
  #community .board_list li span:nth-child(5){display:none;}

  #community .insert_btn button{width:33.33%; padding:8px 0; margin:3px 1px;}
}

@media screen and (max-width:380px){
  #community .board_list li span:nth-child(1){width:15%;}
  #community .board_list li span:nth-child(2){width:25%;}
  #community .board_list li span:nth-child(3){width:60%;}
  #community .board_list li span:nth-child(4){display:none;}
  #community .paging .paging_btn{display:none;}
}